<%# 
<script>
  function scrollToBottom() {
    var messageContainer = document.getElementById("message-container");
    messageContainer.scrollTop = messageContainer.scrollHeight;
  }

  // Call scrollToBottom after rendering new messages using Turbo Streams
  document.addEventListener("turbo:load", scrollToBottom);

  // Call scrollToBottom whenever a new message is received using Turbo Streams
  document.addEventListener("turbo:stream-accepted", scrollToBottom);
</script> %>


<div class="row">
  <div class="col-md-2">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
      <%= link_to '/', class: 'd-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom' do %>
        <%= content_tag :svg, class: 'bi me-2', width: 30, height: 24 do %>
          <%= content_tag :use, '', 'xlink:href': '#bootstrap' %>
        <% end %>
        <span class="fs-5 fw-semibold">Hi <%= @current_user.username %></span>
      <% end %>
      <%= link_to "Create New Chat Room", new_chat_room_path, class: "btn btn-secondary" %>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <%= link_to '#', class: 'btn btn-toggle align-items-center rounded collapsed', data: { bs_toggle: 'collapse', bs_target: '#home-collapse', bs_expanded: 'true' } do %>
            Rooms
          <% end %>
          <%= turbo_stream_from "chat_rooms" %>
          <%= content_tag :div, class: 'collapse show', id: 'chat_rooms' do %>
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <%= render @chat_rooms %>
            </ul>
          <% end %>
        </li>
        <li class="mb-1">
          <%= link_to '#', class: 'btn btn-toggle align-items-center rounded collapsed', data: { bs_toggle: 'collapse', bs_target: '#home-collapse', bs_expanded: 'true' } do %>
            Users
          <% end %>
          <%= content_tag :div, class: 'collapse show', id: 'home-collapse' do %>
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <%= render @users %>
            </ul>
          <% end %>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Account
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <% if user_signed_in? %>
                <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "link-dark rounded" %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "link-dark rounded" %></li>
              <% else %>
                <li><%= link_to 'Log In', new_user_session_path, class: "link-dark rounded" %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path, class: "link-dark rounded" %></li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 bg-dark text-light">
    <% if @chat_room %>
      <h4 class="text-center"> <%= @user&.username || @chat_room.name %> </h4>
      <%= turbo_stream_from @chat_room %>
      <div id="messages">
        <%= render @messages %>
      </div>
      <%= render  "layouts/new_message_form" %>
    <% end %>
  </div>
</div>